

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: var(--grey);
  height: 5rem;
  color: var(--yellow);
  /* color: white; */
}

.nav-logo {
  font-weight: 700;
  font-family: 'Superfonten';
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  font-family: 'Superfonten';
  color: var(--yellow);
}

/* .nav a {
  color: white;
  text-decoration: none;
} */

/* .nav a.active {
  text-decoration: underline;
} */

.main-content {
  /* background-color: rgb(0, 0, 0); */
  flex: 1;
  /* max-width: 960px; */
  height: 100%;
  width: 100%;
  /* margin: 2rem auto; */
  /* padding: 0 1rem 2rem; */
  /* background: rgba(255, 0, 204, 0.208); */
}

.footer {
  background-image: url(../assets/img/footer.png);
  background-color: var(--grey);
  color: var(--yellow);
  padding: 1.5rem 2rem;
  font-size: 0.95rem;
  font-family: "Superfonten";
}
